.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  border-bottom: 1px solid #d1d5db;
}

.cart-product-image {
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-right: 12px;
}

.cart-item-details-container {
  flex-grow: 1;
}

.cart-product-title {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 4px;
}

.cart-product-brand {
  font-size: 14px;
  color: #64748b;
}

.cart-quantity-container {
  display: flex;
  align-items: center;
  margin-top: 8px;
}

.quantity-controller-button {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  margin: 0 8px;
}

.cart-total-price {
  font-weight: 600;
  margin-top: 8px;
}

.remove-button {
  background: none;
  border: none;
  cursor: pointer;
  color: #ef4444;
}
